<container>

  <row class="footer-top">
    <columns class="">
      <row class="" >
        <columns large="2" small="2"></columns>
        <columns large="8" small="8" class="">
          <a class="footer-logo"target="_blank" href="#"><img src="https://imgur.com/tJ6HmK3.png"></a>
          <hr>
        </columns>
        <columns></columns>
      </row>
      <!-- <hr> -->

      <row class="platform-icons-area">
        <columns large="2" small="2"></columns>
        <columns large="2" small="3" class="">
          <a href="#"><img class="platformicon1" src="https://imgur.com/aGkIMRk.png"></a>
          <a href="#"><p>Download <br>the app</p></a>
        </columns>
        <columns large="2" small="3" class="">
          <a href="#"><img class="platformicon2" src="https://imgur.com/2SA4fCe.png"></a>
          <a href="#"><p>Sign up for <br> DashPass</p></a>
        </columns>
        <columns large="2" small="3" class="small-offset-2">
          <a href="#"><img class="platformicon3" src="https://imgur.com/txFABJA.png"></a>
          <a href="#"> <p>Refer and <br> Earn Credit</p></a>
        </columns>
        <columns large="2" small="3" class="">
          <a href="#"><img class="platformicon4" src="https://imgur.com/8Z7CnT0.png"></a>
          <a href="#"><p>Deliver With <br> DoorDash</p></a>

        </columns>
        <columns></columns>
      </row>



      <row>
        <columns large="2" small="2"></columns>
        <columns large="8" small="8" class="pre-small-print">
          <p class="pre-small-print"> &copy; 2023 DoorDash Inc. <br>
            303 2nd Street, South Tower, Suite 800 <br>
            San Francisco, CA 94107 <br>Privacy Policy</p>

          </columns>
          <columns></columns>
        </row>

        <row class="">
          <columns large="2" small="2"></columns>

          <columns class="socials-capsule"small="3" large="3" valign="middle">
            <row class=" testing1 float-left" >
              <columns  small="3" large="3" valign="middle">
                <a href="#"><img class="fbs" style="width: 18px;height: 17px;" src="https://imgur.com/xRnSGWK.png"></a>
              </columns>
              <columns class="tw" small="3" large="3" valign="middle">
                <a href="#"><img style="width: 21px;height: 17px;" src="https://imgur.com/d4C3WgM.png"></a>
              </columns>
              <columns class="in" small="3" large="3" valign="middle">
                <a href="#"><img style="width: 18px;height: 18px;" src="https://i.imgur.com/X6DvfpE.png"></a>
              </columns>
              <columns class="si" small="3" large="3" valign="middle">
                <a href="#"><img style="width: 18px;height: 18px;" src="https://imgur.com/6AVupiW.png"></a>
              </columns>
            </row>
          </columns>
          <columns small="7" large="7"></columns>
        </row>


        <row class="">
          <columns large="2" small="2"></columns>
          <columns small="8" large="8">
           <row class="footer-urls">
            <columns >
              <p class="" style="margin-bottom: 0;">
                <a href="#">Help Center</a>
                <span class="menu-divider" style="width: 1px;"></span>
                <a href="#">Unsubscribe</a>
                <span class="menu-divider" style="width: 1px;"></span>
                <a href="#">View in Browser</a>
              </p>
            </columns>
            <columns small="2" large="2"></columns>
          </row>

        </columns>
        <columns></columns>
      </row>

      <row class="all_apps">
        <columns class="small-print">
          <p>
            Automatically applied at checkout. Valid only at select Aria Korean Street Food locations. Valid at Aria Korean Street Food Brooklyn, New York location. Limit one per person. Fees, taxes, and gratuity still apply. All deliveries subject to availability. Must have or create a valid DoorDash account with a valid form of accepted payment on file. No cash value. Non-transferable. See full terms and conditions at <a href="#" style="text-decoration: none;"><span class="inner-link">https://drd.sh/8ONpZP/. </span></a>
          </p>
        </columns>
      </row>



    </columns>

    <!-- <columns large="8" small="8"></columns> -->
  </row>


       <!--  </columns>
       </row> -->

     </container>



