<container class="header"> 
  <row>
    <columns class="logo-top">
      <a target="_blank" href="https://www.doordash.com/store/aria-korean-street-food-brooklyn-24543086/"><img class="small-float-center" alt_text="top logo" src="https://imgur.com/4MgqPPG.png"></a>
    </columns>
  </row>
  <row>
    <columns class="title">
      <a target="_blank" href="https://www.doordash.com/store/aria-korean-street-food-brooklyn-24543086/"><P class="text-center">New Lunch Combos at Aria Korean Street Food</P></a>
    </columns>
  </row>
</container>
